### tips 데이터셋 읽어들이기

In [1]:
import pandas as pd

In [2]:
import matplotlib as mpl
import matplotlib.pylab as plt
import seaborn as sns

In [3]:
import numpy as np

In [4]:
tips =sns.load_dataset("tips")  #내장함수 = load_dataset
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
tips["sex"]

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [7]:
#성별빈도분석
tips["sex"].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [8]:
#요일빈도분석
tips["day"].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [9]:
#사이즈빈도분석
tips["size"].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [11]:
#월별/성별 교차분석 총괄표 
pd.crosstab(tips["sex"],
            tips["day"],
           margins = True)

day     Thur  Fri  Sat  Sun  All
sex
Male      30   10   59   58  157
Female    32    9   28   18   87
All       62   19   87   76  244

In [16]:
#빈도 비율 확인
pd.crosstab(tips["sex"],
            tips["day"]).apply(
                lambda r: r/len(tips),      #lambda 표현식
                axis = 1 #컬럼기준
         )

day         Thur       Fri       Sat       Sun
sex
Male    0.122951  0.040984  0.241803  0.237705
Female  0.131148  0.036885  0.114754  0.073770

In [17]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [18]:
#요약
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [23]:
tips["sex_kor"]=1

## 결측치 확인

In [ ]:
#isnull(): 결측 데이터면 True값을 반환하고, 유효한 데이터가 존재하면 False를 반환
#notnull(): 유효한 데이터가 존재하면 ture를 반환, 누락데이터면 False를 반환

In [26]:
#컬럼별 결측값 개수 구하기: df.isnull().sum()
#컬럼(열)별 결측값 개수 구하기:df.isnull().sum()

#로우(행)단위로 결측값 개수구하기:df.isnull().sum(1)
#행단위로 실제값 개수구하기:df.notnull().sum(1)

In [ ]:
#행 삭제: 데이터프레임.dropna(axis=0)
#열 삭제: 데이터프레임.dropna(axis=1) #특정영역삭제시 drop 사용
#데이터프레임.dropna()

In [ ]:
#결측값을 특정값으로 채우기: df.fillna(0)
#결측값을 특정 문자열로 채우기:df.fillna('')
#결측값을 변수별 평균으로 대체: df.fillna(df.mean)